@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

/*
	TODO: replace these with tailwindcss/typography
	https://twin-docs.netlify.app/plugin-support
*/
.richtext h1 {
	font-size: 2.5em;
}

.richtext h2 {
	font-size: 2.1em;
}

.richtext h3 {
	font-size: 1.8em;
}

.richtext h4 {
	font-size: 1.5em;
}

.richtext p {
	margin: .5em 0;
}