/*
This project uses Tailwinds Typography Rich Text, buy you can override any of those classes manually here.
*/
.prose img {
	display: inline;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}